

.ytp-extension-controls{
    width: 60px;
}

.plus-icon{
    text-align: center;
    font-size: 14px;
    height: 24px;
    width: 24px;
    line-height: 24px;
    background-color: whitesmoke;
    position: relative;
    top: 50%;
    transform:translate(0,-50%);
    border-radius: 50%;
}

.marker{
    width: 2px;
    height: 5px;
    position: absolute;
    background-color: white;
}


.tool-container{
    width: auto;
    height: auto;
    top: 100px;
    position: fixed;
    display: flex;
}

[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block; 
}

body {
    padding: 0;
    margin: 0;
}


.message-panel-container {
    display: flex;
    background-color: white;
    z-index: 10;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px solid #CCC;
    overflow: hidden;
}

.message-panel-container > .tabs {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-direction:column;
    width: 75px;
    text-align: center;
    width: 45px;
    height: auto;
}

.grabber{
    user-select: none;
}

.grabber > img{
    width: 40%;
    transform: rotate(90deg);
    user-select: none;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -webkit-user-select: none;
}

.grabber > img:hover{
    color:lightgrey;
}

.tab {
    cursor: pointer;
    padding: 5px;
    height: 45px;
    display: flex;
    justify-content: center;
    border-top: 1px solid #CCC;
}

.tab > img {
    width: 50%;
    user-select: none;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -webkit-user-select: none;
}

.tab.active {
    background-color: #CCC;
}

.tab:hover {
    background-color: #AAA;
}

.tab-content {
    background-color: #CCC;
    max-width: 100px;
}
  


.marker-top > img{
    width: 20px;
    height: 20px;
}
  
  
  
  
  
  
  


.triangle{
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #1b89d3;
    top: -18px;
    position: relative;
    /* left: -17px; */
    z-index: 10000000;
}